@{
    Layout = "Guest_Layout";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@model tp03_2021.ViewModels.LoginViewModel
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">

                <form asp-action="LoginUser" method="post" class="row g-3">
                    <h4>Welcome Back</h4>
                    <div class="col-12 form-group">
                        <label asp-for="Username" class="control-label">Username</label>
                        <input type="text" asp-for="Username" class="form-control" placeholder="Username">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label>Password</label>
                        <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rememberMe">
                            <label class="form-check-label" for="rememberMe"> Remember me</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-left">Login</button>
                    </div>
                </form>

                <hr class="mt-4">
                <div class="col-12">
                    <p class="text-center mb-0">No tiene cuenta aún? <a asp-action="Register">Regístrese</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


