@{
    Layout = "Guest_Layout";
}
<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4 mb-lg-5">Welcome</h1>
            <p class="mt-md-5">Si eres miembro <a class="link-dark" asp-controller="Usuario" asp-action="Login">inicia sesión</a></p>
            <p class="mt-md-5">Si no tienes cuenta aún <a class="link-dark" asp-controller="Usuario" asp-action="Register">regístrate</a></p>
        </div>
        
    </div>
</div>